*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ar
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: rgb(176,223,231);
    background: linear-gradient(180deg, rgba(176,223,231,1) 12%, rgba(255,171,100,1) 48%, rgba(176,223,231,1) 81%);
}

.sol
{
    height: 400px;
    width: 400px;
    border-radius: 50%;

    background: rgb(255,210,13);
    border: 1px solid #faa481;
    background: radial-gradient(circle, rgba(255,210,13,1) 0%, rgba(255,171,100) 50%, #faa481 100%);
    box-shadow: 1px 1px 80px 60px #faa481;
}

.concreto 
{
    position: absolute;
    top: 50vh;
    width: 100%;
    height: 100px;
    z-index: 1;
    background-color: rgb(168, 168, 168);
}

.predio1
{
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 150px;
    height: 250px;
    background-color: red;
    position: absolute;
    right: 60px;

    top: 280px;
    z-index: 2;
}

#janela
{
    margin-top: 10px;
    background-color: yellow;
    width: 20px;
    height: 20px;
}


.predio2
{
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 150px;
    height: 200px;
    background-color: green;
    position: absolute;
    left: 50px;
    top: 300px;
    z-index: 2;
}


.predio3
{
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 130px;
    height: 250px;
    background-color: rgb(65, 65, 65);
    position: absolute;
    left: 600px;
    top: 300px;
    z-index: 2;
}


.predio4
{
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 150px;
    height: 250px;
    background-color: rgb(77, 4, 61);
    position: absolute;
    right: 420px;
    top: 270px;
    z-index: 2;
}


.predio5
{
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 150px;
    height: 250px;
    background-color: rgb(0, 153, 255);
    position: absolute;
    left: 250px;
    top: 280px;
    z-index: 2;
}


.predio6
{
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 120px;
    height: 200px;
    background-color: rgb(39, 1, 7);
    position: absolute;
    right: 250px;
    top: 320px;
    z-index: 2;
}


.predio7
{
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 100px;
    height: 180px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 450px;
    top: 350px;
    z-index: 2;
}

.predio7 #janela
{
    width: 15px;
    height: 15px;
}

.pista
{
    display: flex;
    gap: 20px;
    align-items: center;
    position: absolute;
    top: 60vh;
    left: auto;
    width: 100%;
    height: 100px;
    background-color: rgb(22, 22, 22);
}

.pista span
{
    width: 50px;
    height: 10px;
    gap: 10px;
    background-color: #dddddd;
    z-index: 5;
}

.areia
{
    background-color: sandybrown;
    height: 250px;
    width: 100%;
    position: absolute;
    top: 70vh;
    z-index: 1;
}

.agua
{
    /* background-color: aqua; */
    height: 250px;
    width: 100%;
    position: absolute;
    bottom: 0vh;
    z-index: 999;
}

.agua img 
{
    width: 100%;
    height: 250px;
}

.agua #svg
{
    width: 1920px;
    height: 300px;
    z-index: 999;
}

.pneu-frente

{
    position: absolute;
    bottom: 355px;
    left: 820px;
    width: 50px;
    height: 50px;
    background:rgb(0, 0, 0);
    box-shadow: -3px 1px 20px 0px;

    border: 2px solid black;
    border-radius: 50%;
    z-index: 999;
}

.pneu-tras

{
    position: absolute;
    bottom: 355px;
    right: 850px;
    width: 50px;
    height: 50px;
    background:rgb(0, 0, 0);
    box-shadow: -3px 1px 20px 0px;

    border: 2px solid black;
    border-radius: 50%;
    z-index: 999;
}

.carga
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 450px;
    left: 800px;
    width: 200px;
    height: 120px;
    z-index: 5;
    border-radius: 2%;

    box-shadow: -3px 1px 20px 0px;

    background:rgb(231, 228, 49);
    border: 2px solid black;

}

.carga img
{
    width: 100%;
    height: 100%;
    
}

.frente-carro
{
    position: absolute;
    top: 480px;
    left: 990px;
    width: 100px;
    height: 90px;
    z-index: 4;
    border-top-right-radius: 60px;
    background:rgb(231, 228, 49);

    border: 2px solid black;
}



.vidro
{
    position: absolute;
    top: 495px;
    left: 1010px;
    width: 63px;
    height: 35px;
    z-index: 4;
    border-top-right-radius: 50px;
    background-color: black;
    border: 2px solid black;
}